*{
    box-sizing: border-box;
}
header{
    background-color: #0D0D0D;
}
footer{
    background-color: #7587BF;
}
header,footer{
    padding:2%;
    display:flex;
    align-content:space-around;
    flex-flow: row nowrap;
    justify-content: space-between;
     align-items: center;
}
nav{
    display:flex;
    justify-content: space-between;
}
nav img{
    width: 70px;
    height:70px;
}
nav ul{
    display:none;
    background-color:#F2C84B;
}
h1{
    font-family: inconsolata,monospace;
    font-size: 1.2em; 
    background-color: #F2E205;
}
h2,h3,li,p,article{
    font-family: roboto mono,monospace;
}
h3,p{
    text-align: center;
}

/******** page accueil *********/
main p{
    display:flex;
    align-content:space-between;
    flex-flow: row wrap;
    justify-content: center;
    padding:14%;
    line-height: 2em;
}
main p img{
    width:40%;
    height:40%;
}
/********** page galerie *********/
.image{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin:1%;
}
img{
    width: 80%;
    height: 20%;
    margin: 4%;
}
h2{
    display: none;
}
/******** page film *****/
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
/******* formulaire **********/
.formu{
    display: flex;
    flex-flow: column;
    align-items: center;
}
form{
    width:100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
section{
    width:100%;
}
.choix{
    width:30%;
}
form>div{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}


/***************** TABLETTE *******************/
@media screen and (min-width:768px){
    header nav{
        display:flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        width:58%;
    }
    header nav img{
        display: none;
    }
    header nav ul{
        display:block;
        list-style-type:none;
        padding-left: 0%;
        width:70%;
    }
    header nav ul li{
        display:inline;
    }
    header nav ul li a{
        text-decoration:none;
        color:black;
        margin:1%;
    }
    .acc{
        height: 729px;
    }
    /******* page galerie *************/
    main p img{
        width:30%;
        height:30%;
    }

    /******* page galerie *************/
    .image{
        display:flex;
        flex-flow: row wrap;
        justify-content:flex-start;
        align-content: center;
    }
    .image img{
        width:40%;
    }
    /********* page film **********/
    img{
        width:40%;
    }
    .film{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    div{
        order:-1;
    }
    form>div{
        order:0;
    }
    /* ******contact******** */
    .normale{
        order:1;
    }

}
/***************** ORDI *******************/
@media screen and (min-width:1024px){
    header nav ul{
        width:52%;
    }
    main p{
        padding:5%;
    }
    section img{
        width:25%;
    }
    div{
        display:flex;
        flex-flow:row wrap;
        justify-content: center;
        align-items: center;
    }
    h3{
        width:100%;
    }
    div p{
        width:50%;
    }

    main p img{
        width:20%;
        height:20%;
    }
}
@media screen and (min-width:1440px){
    header nav ul{
        width:37%;
    }
}